<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />
        <q-toolbar-title> Aplikacija Putovanje </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above bordered>
      <q-list padding class="menu-list">
        <q-item clickable v-ripple to="/" exact>
          <q-item-section avatar>
            <q-icon name="dashboard" />
          </q-item-section>
          <q-item-section> Pocetna stranica </q-item-section>
        </q-item>
        <q-item clickable v-ripple to="/navigacija">
          <q-item-section avatar>
            <q-icon name="room" />
          </q-item-section>
          <!-- <q-item-section>
            <q-side-link item>Navigacija</q-side-link>
            </q-item-section> -->
            <q-item-section> Navigacija </q-item-section>
        </q-item>
        <q-item clickable v-ripple to="/potrosnja">
          <q-item-section avatar>
            <q-icon name="local_gas_station" />
          </q-item-section>
          <q-item-section> Potrosnja </q-item-section>
        </q-item>
        <q-item clickable v-ripple to="/cijenegoriva">
          <q-item-section avatar>
            <q-icon name="euro" />
          </q-item-section>
          <!-- <q-item-section>
            <q-side-link item>Cijene Goriva</q-side-link>
          </q-item-section> -->
          <q-item-section> Cijene Goriva </q-item-section>
        </q-item>
        <q-item clickable v-ripple to="/AdminPromjene" v-if="state.token">
          <q-item-section avatar>
            <q-icon name="euro" />
          </q-item-section>
          <!-- <q-item-section>
            <q-side-link item>Regulacija cijena</q-side-link></q-item-section> -->
            <q-item-section> Regulacija cijena </q-item-section>
        </q-item>
        <q-item clickable v-ripple to="/prijava" v-if="!state.token">
          <q-item-section avatar>
            <q-icon name="login" />
          </q-item-section>
          <!-- <q-item-section>
            <q-side-link item>Prijava</q-side-link></q-item-section> -->
            <q-item-section> Prijava </q-item-section>

        </q-item>
        <q-item clickable v-ripple @click="odjava" v-if="state.token">
          <q-item-section avatar>
            <q-icon name="logout" />
          </q-item-section>
          <!-- <q-item-section>
            <q-side-link item>Odjava</q-side-link></q-item-section> -->
            <q-item-section> Odjava </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, onUpdated, reactive, ref } from "vue";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "MainLayout",
  setup() {
    const state = reactive({ token: localStorage.getItem("token") });

    const router = useRouter();
    const leftDrawerOpen = ref(false);
    function odjava() {
      localStorage.clear("token");
      router.push("/");
    }

    onUpdated(() => {
      state.token = localStorage.getItem("token");
    });

    return {
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },
      odjava,
      state,
    };
  },
});
</script>
