<template>
  <div class="q-pa-md" style="max-width: 400px">
    <q-form @submit.prevent="submitform" class="q-gutter-md">
      <q-input
        filled
        type="double"
        v-model="state.formdata.benzin"
        label="Benzin *"
        lazy-rules
        :rules="[
          (val) => (val !== null && val !== '') || 'Unesite novu cijenu',
        ]"
      />
      <q-input
        filled
        type="double"
        v-model="state.formdata.dizel"
        label="Dizel *"
        lazy-rules
        :rules="[
          (val) => (val !== null && val !== '') || 'Unesite novu cijenu',
        ]"
      />

      <q-input
        filled
        type="double"
        v-model="state.formdata.plin"
        label="Plin *"
        lazy-rules
        :rules="[
          (val) => (val !== null && val !== '') || 'Unesite novu cijenu',
        ]"
      />
      <div>{{ state.poruka }}</div>
      <div>
        <q-btn label="Submit" type="submit" color="primary" />
        <q-btn
          label="Reset"
          type="reset"
          color="primary"
          flat
          class="q-ml-sm"
        />
      </div>
    </q-form>
  </div>
</template>
<script>
import { reactive } from "@vue/reactivity";
import { axios } from "../boot/axios";

export default {
  name: "AdminPromjene",
  setup() {
    const state = reactive({
      formdata: {
        benzin: "",
        dizel: "",
        plin: "",
      },
      poruka: "",
    });

    function submitform() {
      axios
        .post("http://localhost:3000/cijenagoriva/", state.formdata, {
          headers: {
            Authorization: localStorage.getItem("token"),
            "Content-Type": "application/json",
          },
        })
        .then((res) => {
          state.poruka = "Promjene su uspješno spremljene!";
          onReset();
        })
        .catch((err) => {
          state.poruka = "Greška kod spremanja promjena!";
          console.log(err);
        });
    }
    const onReset = () => {
      state.formdata.benzin = " ";
      state.formdata.dizel = " ";
      state.formdata.plin = " ";
    };
    return {
      submitform,
      onReset,
      state,
    };
  },
};
</script>
