<template>
  <div class="q-pa-md" style="width: 100%">
    <q-list>
      <q-expansion-item
        style="font-size: 160%"
        popup
        label="Benzin"
        caption="Klikni za detaljnije"
      >
        <q-separator />
        <q-card>
          <q-card-section>
            <div style="font-size: 80%">Cijena benzina trenutno iznosi:</div>
            <div>{{ state.cijene.benzin }} Kn</div>
            <q-separator />
            <div style="font-size: 80%">Stara cijena benzina je iznosila:</div>
            <div>{{ state.stareCijene.benzin }} Kn</div>
            <q-separator />
          </q-card-section>
        </q-card>
      </q-expansion-item>
      <q-expansion-item
        style="font-size: 160%"
        popup
        label="Dizel"
        caption="Klikni za detaljnije"
      >
        <q-separator />
        <q-card>
          <q-card-section>
            <div style="font-size: 80%">Cijena dizela trenutno iznosi:</div>
            <div>{{ state.cijene.dizel }} Kn</div>
            <q-separator />
            <div style="font-size: 80%">Stara cijena dizela je iznosila:</div>
            <div>{{ state.stareCijene.dizel }} Kn</div>
            <q-separator />
          </q-card-section>
        </q-card>
      </q-expansion-item>
      <q-expansion-item
        style="font-size: 160%"
        popup
        label="Plin"
        caption="Klikni za detaljnije"
      >
        <q-separator />
        <q-card>
          <q-card-section>
            <div style="font-size: 80%">Cijene plina trenutno iznosi:</div>
            <div>{{ state.cijene.plin }} Kn</div>
            <q-separator />
            <div style="font-size: 80%">Stara cijena plina je iznosila:</div>
            <div>{{ state.stareCijene.plin }} Kn</div>
            <q-separator />
          </q-card-section>
        </q-card>
      </q-expansion-item>
    </q-list>
  </div>
</template>
<script>
import { reactive } from "@vue/reactivity";
import { axios } from "../boot/axios";
import { onMounted } from "@vue/runtime-core";
export default {
  name: "CijeneGoriva",
  setup() {
    const state = reactive({
      cijene: "",
      stareCijene: "",
    });
    onMounted(() => {
      axios.get("http://localhost:3000/cijenagoriva/").then((res) => {
        state.cijene = res.data.data[0];
        state.stareCijene = res.data.data[1];
      });
    });
    return {
      state,
    };
  },
};
</script>
