<template>
  <q-page class="flex-center">
    <div id="map" />
  </q-page>
</template>
<script>
import mapboxgl, { GeolocateControl } from "mapbox-gl";
import "mapbox-gl/dist/mapbox-gl.css";
import { onMounted } from "vue";
export default {
  setup() {
    onMounted(() => {
      mapboxgl.accessToken =
        "pk.eyJ1IjoiYmtsaXBhIiwiYSI6ImNsM2tpdmI3NjAzZmUzYnA1eGhsMWE5ZnYifQ.rJYANBlEKTLXY1LtoMhHDA";
      const map = new mapboxgl.Map({
        container: "map",
        style: "mapbox://styles/mapbox/streets-v11",
        center: [14.44449469878231, 45.326970668669546],
        zoom: 13,
      });
      map.addControl(
        new MapboxDirections({
          accessToken: mapboxgl.accessToken,
          unit: "metric",
        }),
        "top-left"
      );
      map.addControl(new GeolocateControl(), "bottom-right");
    });
    return {};
  },
};
</script>

<style>
#map {
  height: 100vh;
}
</style>
