<template>
  <div class="q-pa-md">
    <q-item clickable v-ripple to="/navigacija">
      <q-img
        src="https://cdn.ymaws.com/rin.org.uk/resource/resmgr/nav21/nav21_map.png"
        spinner-color="white"
        style="height: 170px; width: 100%"
        img-class="my-custom-image"
        class="rounded-borders"
      >
        <div class="absolute-bottom text-subtitle1 text-center">Navigacija</div>
      </q-img>
    </q-item>
    <q-separator />
    <q-item clickable v-ripple to="/potrosnja">
      <q-img
        src="https://wonderfulengineering.com/wp-content/uploads/2013/12/Increase_fuel_mileage-1.jpg"
        spinner-color="white"
        style="height: 170px; width: 100%"
        img-class="my-custom-image"
        class="rounded-borders"
      >
        <div class="absolute-bottom text-subtitle1 text-center">Potrošnja</div>
      </q-img>
    </q-item>
    <q-separator />
    <q-item clickable v-ripple to="/cijenegoriva">
      <q-img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQL7jNfJKQ9mBoWY0MvHZB_XsNeC1h1g1aTdQ&usqp=CAU"
        spinner-color="white"
        style="height: 170px; width: 100%"
        img-class="my-custom-image"
        class="rounded-borders"
      >
        <div class="absolute-bottom text-subtitle1 text-center">
          Cijene goriva
        </div>
      </q-img>
    </q-item>
  </div>
</template>
