<template>
  <div class="q-pa-md">
    <!-- <div class="q-pa-md">
      <div>1. Unesite koliko vaš rezervoar ima max litara.</div>
      <div>
        2. Sa klizačem koji se nalazi ispod mjerača odaberite koliko goriva
        trenutno imate u autu. Kako mjerač izgleda u autu isto tako označite i
        ovdje.
      </div>
    </div> -->
    <div class="q-pa-sm">
      <q-input
        outlined
        data-cy="maxtest"
        v-model="state.spremnik"
        label="Maksimalna količina vašeg spreminka (u litrama)"
        style="padding-bottom: 20px"
      />
      <q-input
        outlined
        data-cy="prijedeni"
        v-model="state.prijedenaKilometraza"
        label="Prijeđeni kilometri"
        @change="izracunPotrosnje"
      />
    </div>
    <div class="q-pa-md q-pt-none q-ma-none tipGoriva">
      <div class="q-gutter-sm">
        <q-radio v-model="state.tipGoriva" val="benzin" label="Benzin" />
        <q-radio v-model="state.tipGoriva" val="dizel" label="Dizel" />
        <q-radio v-model="state.tipGoriva" val="plin" label="Plin" />
      </div>
    </div>
    <div class="q-pa-md">
      <h6 class="q-ma-none">Količina prije puta</h6>
      <vue-gauge
        :refid="'gaugePrije'"
        :key="state.kolicinaPrijePuta"
        :options="{
          needleValue: state.kolicinaPrijePuta,
          needleStartValue: state.kolicinaPrijePuta,
          hasNeedle: true,
          needleColor: '#37474f',
          arcColors: ['#bbdefb', '#64b5f6', '#1976d2', '#0d47a1'],
          arcDelimiters: [25, 50, 75],
          rangeLabel: ['E', 'F'],
          chartWidth: 300,
        }"
      ></vue-gauge>
      <q-slider
        data-cy="prijeputa"
        v-model="state.kolicinaPrijePuta"
        :min="0"
        :max="100"
        @change="izracunPotrosnje"
      />
      {{ ((state.kolicinaPrijePuta / 100) * state.spremnik).toFixed(0) }}
    </div>

    <div class="q-pa-md">
      <h6 class="q-ma-none">Količina poslije puta</h6>
      <vue-gauge
        :refid="'gaugePoslije'"
        :key="state.kolicinaPoslijePuta"
        :options="{
          needleValue: state.kolicinaPoslijePuta,
          needleStartValue: state.kolicinaPoslijePuta,
          hasNeedle: true,
          needleColor: '#37474f',
          arcColors: ['#bbdefb', '#64b5f6', '#1976d2', '#0d47a1'],
          arcDelimiters: [25, 50, 75],
          rangeLabel: ['E', 'F'],
          chartWidth: 300,
        }"
      ></vue-gauge>
      <q-slider
        data-cy="poslijeputa"
        v-model="state.kolicinaPoslijePuta"
        :min="0"
        :max="100"
        @change="izracunPotrosnje"
      />
      {{ ((state.kolicinaPoslijePuta / 100) * state.spremnik).toFixed(0) }}
    </div>
    <div>
      <q-btn
        @click="spremiPodatke"
        color="primary"
        style="width: 100%"
        label="Spremi"
        :disabled="
          state.kolicinaPrijePuta <= 0 ||
          state.kolicinaPoslijePuta < 0 ||
          state.prijedenaKilometraza <= 0 ||
          state.spremnik <= 0
        "
      />
    </div>

    <q-separator />

    <div class="q-pa-md" v-if="state.prosjecnaPotrosnja">
      <q-card class="my-card">
        <q-card-section>
          <div>
            Prosječna potrošnja vašeg vozila iznosi:
            <strong data-cy="izracun">{{ izracunPotrosnje() }}/100km </strong>
          </div>
          <div>
            Trošak putovanja:
            <strong>{{ state.trosakPutovanja }} kn</strong>
          </div>
        </q-card-section>
      </q-card>
    </div>
    <div class="q-pa-md" v-if="state.zadnjaPotrosnja">
      <q-card class="my-card">
        <q-card-section>
          <div>
            Na prethodnom putovanju prešli ste
            <strong>{{ state.zadnjaPotrosnja.kilometri }} km</strong> i
            automobil je trošio prosječno
            <strong>{{ state.zadnjaPotrosnja.prosjecnaPotrosnja }} l </strong>
            na 100 km. Ukupan trošak prethodnog putovanja je
            <strong>{{ state.zadnjaPotrosnja.trosak }} kn</strong>.
          </div>
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>
<script>
import { reactive } from "@vue/reactivity";
import VueGauge from "vue-gauge";
import { onMounted } from "@vue/runtime-core";
import { axios } from "../boot/axios";

export default {
  components: { VueGauge },
  setup() {
    const state = reactive({
      zadnjaPotrosnja: null,
      cijene: null,
      tipGoriva: "benzin",
      kolicinaPrijePuta: 0,
      kolicinaPoslijePuta: 0,
      prosjecnaPotrosnja: null,
      prijedenaKilometraza: null,
      trosakPutovanja: 0,
      spremnik: null,
    });

    const izracunPotrosnje = () => {
      if (
        state.kolicinaPrijePuta > 0 &&
        state.kolicinaPoslijePuta >= 0 &&
        state.prijedenaKilometraza > 0 &&
        state.spremnik > 0
      ) {
        const potrosenoLitara =
          ((state.kolicinaPrijePuta - state.kolicinaPoslijePuta) *
            state.spremnik) /
          100;
        state.prosjecnaPotrosnja = (
          (potrosenoLitara / state.prijedenaKilometraza) *
          100
        ).toFixed(2);
        let cijena = state.cijene ? state.cijene[state.tipGoriva] : 12;
        state.trosakPutovanja = (
          (state.kolicinaPrijePuta - state.kolicinaPoslijePuta) *
          cijena
        ).toFixed(2);
        return state.prosjecnaPotrosnja;
      }
    };

    const spremiPodatke = () => {
      axios
        .post(
          "http://localhost:3000/spremiPotrosnju",
          {
            prosjecnaPotrosnja: state.prosjecnaPotrosnja,
            kilometri: state.prijedenaKilometraza,
            trosak: state.trosakPutovanja,
          },
          {
            headers: {
              Authorization: localStorage.getItem("token"),
              "Content-Type": "application/json",
            },
          }
        )
        .then((res) => {
          resetForme();
          dohvatiZadnjuPotrosnju();
        });
    };

    const dohvatiZadnjuPotrosnju = () => {
      axios.get("http://localhost:3000/zadnjaPotrosnja").then((result) => {
        state.zadnjaPotrosnja = result.data[0];
      });
    };

    const dohvatiZadnjuCijenu = () => {
      axios.get("http://localhost:3000/cijenagoriva/").then((res) => {
        state.cijene = res.data.data[0];
      });
    };

    const resetForme = () => {
      state.zadnjaPotrosnja = null;
      state.cijene = null;
      state.tipGoriva = "benzin";
      state.kolicinaPrijePuta = 0;
      state.kolicinaPoslijePuta = 0;
      state.prosjecnaPotrosnja = null;
      state.prijedenaKilometraza = null;
      state.trosakPutovanja = 0;
      state.spremnik = 50;
    };

    onMounted(() => {
      dohvatiZadnjuPotrosnju();
      dohvatiZadnjuCijenu();
    });

    return {
      state,
      izracunPotrosnje,
      spremiPodatke,
    };
  },
};
</script>
<style>
.my-card {
  width: "100%";
}
.tipGoriva {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}
</style>
