<template>
  <div class="row" style="height: 90vh">
    <div
      v-bind:class="{
        'justify-center': $q.screen.md || $q.screen.sm || $q.screen.xs,
      }"
      class="col-12 col-md-6 flex content-center"
    >
      <q-card
        v-bind:style="$q.screen.lt.sm ? { width: '80%' } : { width: '50%' }"
      >
        <q-card-section>
          <q-avatar size="100px" class="absolute-center shadow-10">
            <img src="~assets/login.png" />
          </q-avatar>
        </q-card-section>
        <q-card-section>
          <div class="q-pt-lg">
            <div class="col text-h6 ellipsis flex justify-center">
              <h2 class="text-h2 text-uppercase q-my-none text-weight-regular">
                Login
              </h2>
            </div>
          </div>
        </q-card-section>
        <q-card-section>
          <q-form class="q-gutter-md">
            <q-input data-cy="email" label="Email" type="email" v-model="state.formdata.email">
            </q-input>
            <q-input
              label="Password"
              type="password"
              v-model="state.formdata.sifra"
            >
            </q-input>
            <div>{{ state.poruka }}</div>
            <div>
              <q-btn
                class="full-width"
                color="primary"
                label="Login"
                @click="prijavaAdmina"
                clickable
                v-ripple
                rounded
              ></q-btn>
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>
<script>
import { reactive } from "@vue/reactivity";
import { useRouter } from "vue-router";
import { axios } from "../boot/axios";

export default {
  name: "PrijavaAdmina",
  setup() {
    const state = reactive({
      formdata: { email: "", sifra: "" },
      poruka: "",
    });
    const router = useRouter();
    const prijavaAdmina = () => {
      axios
        .post("http://localhost:3000/prijava", state.formdata, {
          headers: {
            Authorization: ``,
            "Content-Type": "application/json",
          },
        })
        .then((res) => {
          if (res.data.token) {
            localStorage.setItem("token", res.data.token);
            router.push("/AdminPromjene");
          } else {
            state.poruka = "Neuspješna prijava! Pokušajte ponovno!";
          }
        })
        .catch((err) => {
          // error
          console.log(err);
        });
    };
    return {
      state,
      prijavaAdmina,
    };
  },
};
</script>
